@import "./partials/colors";

.food-tile {
    height: fit-content;
    width: fit-content;
    padding: 0 0 1% 0;

    img {
        height: 256px;
        width: auto;
    }

    .food-details {
        display: flex;

        .name {
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0 0 0 0.2rem;
        }

        .ingredients {
            color: grey;
            font-size: 0.9rem;
            padding: 0 0 0.2rem 0.2rem;
            width: 256px;
            height: 50px;
        }

        .price-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5% 0 5%;

            button {
                border: none;
                color: white;
                border-radius: 15px;
                padding: 0.3rem 1.5rem;
                background-color: $brand-orange;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .food-tile {
        display: flex;
        margin: 0 0 0 0.5rem;

        img {
            height: 50px;
            width: auto;
        }

        .food-details {

            .name {
                font-size: 1rem;
            }

            .ingredients {
                font-size: 0.7rem;
                width: 150px;
            }

            .price-container {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                .price {
                    font-size: 0.7rem;
                    padding: 0;
                    margin: 0;
                }

                .add-food-btn {
                    margin: 0;
                    font-size: 0.7rem;
                    padding: 0.2rem 0.6rem;
                }
            }
        }


    }
}