@import "./partials/colors";

.food-tile {
    height: fit-content;
    width: fit-content;
    padding: 0 0 1% 0;

    img {
        height: 256px;
        width: auto;
    }

    .food-details {
        display: flex;
        flex-direction: column;

        .name {
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0 0 0 0.2rem;
        }

        .ingredients {
            color: grey;
            font-size: 0.9rem;
            padding: 0 0 0.2rem 0.2rem;
            width: 256px;
            height: 50px;
        }

        .price-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 5% 0 5%;

            button {
                border: none;
                color: white;
                border-radius: 15px;
                padding: 0.3rem 1.5rem;
                background-color: $brand-orange;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 768px) {
    .food-tile {
        display: flex;
        width: 95%;
        margin: 0 0 0 0.5rem;
        align-items: center;
        border-bottom: 1px solid rgb(182, 178, 178);

        img {
            height: 100px;
            width: auto;
        }

        .food-details {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 0;

            .name {
                font-size: 1rem;
            }

            .ingredients {
                font-size: 0.8rem;
                width: 100%;
                margin: 0;
                padding: 0;
            }

            .price-container {
                padding: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                gap: 1rem;



                .price {
                    font-size: 0.9rem;
                    padding: .1rem .3rem;
                    border-radius: 15px;
                    margin: 0;
                    font-weight: 600;
                    background-color: rgb(255, 240, 230);
                    color: rgb(209, 87, 0);

                }

                .add-food-btn {
                    margin: 0;
                    font-size: 0.9rem;
                    padding: 0.2rem 0.6rem;
                }
            }
        }


    }
}